name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Copy HTML file to EC2
        run: scp -i ${{ secrets.SSH_PRIVATE_KEY }} -o StrictHostKeyChecking=no -r ./path/to/your/html/file.html ec2-user@ec2-18-207-193-9.compute-1.amazonaws.com:/var/www/html/index.html

      - name: SSH into EC2 and restart web server
        run: |
          ssh -i ${{ secrets.SSH_PRIVATE_KEY }} -o StrictHostKeyChecking=no ec2-user@ec2-18-207-193-9.compute-1.amazonaws.com <<EOF
            sudo systemctl restart apache2   # Replace with your web server's restart command
          EOF
